.logo-landing {
    width: 160px;
    margin: 30px;
}

.title-landing {
    width: 360px;
    margin: 25px;
}

.text-landing {
    font-size: 22px;
    text-align: center;
}


@media (max-width: 767px) {
    .logo-landing {
        width: 140px;
        margin: 25px;
    }
    
    .title-landing {
        width: 320px;
        margin: 25px;
    }

    .text-landing {
        font-size: 16px;
    }
} 