.container-licenses-title {
    width: 80%;
    background: linear-gradient(to right, #7dd4ff, #fdd1a3);
}

.title-licenses h1 {
    font-size: 34px;
}

.orange-rectangle-licenses {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 250px;
    height: 200px;
    background-color: #fab35d;
    z-index: -1;
}

.blue-rectangle-licenses {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 250px;
    height: 200px;
    background-color: #66adfe;
    z-index: -1;
}

.table-custom-licenses thead tr th {
    background-color: black;
}

@media (max-width: 992px) {
    .title-licenses h1 {
        font-size: 28px;
    }
}


@media (max-width: 768px) {
    .container-licenses-title {
        width: 100%;
    }

    h4, p {
        text-align: center;
    }

    .btn-download-licences {
        text-align: center;
    }
    
    .blue-rectangle-licenses,
    .orange-rectangle-licenses {
        display: none;
    }
}