.container-banner h1 {
    color: #fff;
    font-family: 'Roboto 300', sans-serif;
    font-size: 28px;
}

.container-banner h2 {
    color: rgb(79, 79, 79);
    font-family: 'Roboto 300', sans-serif;
    font-size: 30px;
}


.image-container {
    position: relative;
    overflow: hidden;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #7dd4ffc4, #fdd1a3);
    mix-blend-mode: multiply;
}

.orange-rectangle-home {
    position: absolute;
    top: -20px;
    left: -15px;
    width: 250px;
    height: 200px;
    background-color: #fab35d;
    z-index: -1;
}

.blue-rectangle-home {
    position: absolute;
    bottom: -20px;
    right: -15px;
    width: 250px;
    height: 200px;
    background-color: #66adfe;
    z-index: -1;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 18px;
}


/* Sección Banner movile */

.titles-mobile h3 {
    color: #486682;
    font-weight: bold;
}

.titles-mobile h4 {
    color: grey;
}

/* Sección Carrusel */

.container-carousel-home h1 {
    font-size: 26px;
}

.container-carousel-home h2 {
    font-size: 22px;
}


/* Sección Novedades */

.img-custom-home {
    border-radius: 15px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}


.custom-modal-dialog {
    margin: auto;
    max-width: 45%;
}

.img-custom-home-modal {
    border-radius: 15px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

/* Sección Preguntas frecuentes */

.accordion-custom {
    background-color: #f2fcfe !important;
}


@media (min-width: 768px) {
    .orange-rectangle,
    .blue-rectangle {
        display: none;
    }

    .btn-custom-home {
        width: 100px;
        height: 46px;
    }

    .btn-custom-home p {
        font-size: 16px;
    }
}

@media (max-width: 884px) {

}

@media (max-width: 992px) {
    .container-banner h1 {
        font-size: 20px;
    }
    
    .container-banner h2 {
        font-size: 18px;
    }

    .container-carousel-home h1 {
        font-size: 20px;
    }

    .container-carousel-home h2 {
        font-size: 18px;
    }
    
    .custom-modal-dialog {
        max-width: 100%;
    }
}
